<a id="contact-link" data-toggle="modal" href="#contact">
  Contact
</a>
<div id="contact" class="modal hide fade">
  <div class="modal-header">
    Contact Information
  </div>
  <div class="modal-body">
    <%=m Preference.content_for(:contact_info) %>
  </div>
</div>