<div id="contact-link" data-toggle="modal" href="#contact">
  Contact
</div>
<div id="contact" class="modal hide fade">
  <div class="modal-header">
    Contact Information
  </div>
  <div class="modal-body">
    Some contact info
  </div>
</div>